@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@600&display=swap');

body {
    font-family: Montserrat, sans-serif;
    background-color: #DCDCDC;
    color: black;
}

h1,
h2,
h3 {
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    font-size: 125%;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/*   Logo & Header Stuff      */
nav#menu.row.header {
    background-color: #f16c6b;
}

body {
    height: 100vh;
    overflow-y: auto
}

nav {
    position: sticky;
    top: 20px;
}

.menuitems {
    text-align: center;
    margin-top: 8px;
    color: black;
    font-weight: bold;
}

#thepeptalk {
    width: 25%;
    margin: 0%;
}

#theguide {
    width: 20%;
    margin: 0%;
}

#thediet {
    width: 20%;
    margin: 0%;
}

#logo {
    font-size: 25px;
    padding: 0px;
    margin: 0%;
    width: 100%;
    text-align: center;
    color: black;

}

#empty-menu-block-1 {
    width: 0%;
}

#empty-menu-block-2 {
    width: 20%;
}

#empty-menu-block-3 {
    width: 15%;
}

#logo:hover {
    color: #93bae1;
}

h1 {
    font-size: xx-large;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #A2E4B8;
}

/*   Peptalk Section     */

#before h2 {
    text-align: center;
    font-size: 25px;
}

#provide {
    margin-top: 60px;
}

#peptalk-header {
    text-align: center;
}

/* Guide Section */

div#guide.row {
    background-color: #A2E4B8;
    margin-top: 40px;
    margin-bottom: 40px;
}

#guide-left,
#guide-right {
    width: 10%;
}

#guide-center {
    width: 80%;
}

#guide-header {
    text-align: center;



}

#guide-flavor-text {
    text-align: center;
    font-weight: bold;
}

#video1,
#video2,
#video3,
#video4 {
    border: 2px solid #A2E4B8;
    padding: 0px;

}


div#after-text.row {
    margin-top: 15px;
}

div#space.row {
    margin-bottom: 30px;
}

div#exercise1-2.row {
    margin-bottom: 30px;
}

div#exercise3-4.row {
    margin-bottom: 30px;
}


/* Diet Section */

div#diet-header.row {
    background-color: #93bae1;
    margin-top: 60px;
    padding: 20px 0px 20px 0px;
}

div#diet-text.row {
    background-color: #DCDCDC;
    margin-top: 20px;
}

#diet-text-header {
    text-align: center;
}


.signup {

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: black;
    background-color: #93bae1;
    left: 10%;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
    font-weight: bold;

}

.number-input {

    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
}

.signup-button {
    margin-top: 15px;
    border-radius: 2px;
    padding: 0px 14px 0px 14px;
    text-align: center;
    font-size: 100%;
    background-color: black;
    color: white;
    display: block;
}

.signup-button:hover {
    background-color: #93bae1;
}

.signup-button:focus {
    background-color: black;
}

/* Footer */
footer {
    padding-top: 3%;
    padding-left: 4%;
    margin-top: 20px;
    background-color: #f16c6b;
}

footer a:hover {
    color: #93bae1;
}




@media only screen and (min-width: 320px) and (max-width: 480px) {


    [class*="col-"] {}

    #empty-social-block-2 {
        width: 20%;

    }

    #empty-building-block {
        width: 10%;
    }


    #building {
        width: 100%;
    }

    #start {
        width: 100%;
    }

    #empty-start-block {
        width: 10%;
    }

    #fb {
        width: 15%;
    }

    #tw {
        width: 15%;
    }

    #yt {
        width: 15%;
    }

    #ig {
        width: 15%;
    }

    .youtube {
        width: 100%
    }

    .mealplan {
        width: 85%;
    }

    .signup {
        margin-top: 4%;
        width: 65%;
    }

    .empty-social-block-1 {
        width: 20%;
    }

    .radio {
        font-size: 14px;
    }

    .chest-triceps {
        display: flex;
        flex-direction: column;
    }

    .back-biceps {
        display: flex;
        flex-direction: column;
    }

    .shoulders-core {
        display: flex;
        flex-direction: column;
    }

    .leg-day {
        display: flex;
        flex-direction: column;
    }

    #vegetarian {
        margin-left: 8.75px;

    }

    #omnivore {
        margin-left: 15px;

    }

    #vegan {
        margin-left: 40px;

    }

    .radio {
        padding-right: 60px;
    }

    .empty-peptalk-block,
    .empty-peptalk-block-2 {
        width: 20%;
    }

    #peptalk-header {
        width: 60%
    }

    #empty-menu-block-2 {
        width: 13%;
    }

    #empty-menu-block-1 {
        width: 16%;
    }

    .menuitems {
        font-size: 11px;
        padding: 10px 0px 10px 0px;
    }

    #thepeptalk {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    [class*="col-"] {}


    #thepeptalk {
        width: 25%;
        margin: 0%;
    }

    #theguide {
        width: 20%;
        margin: 0%;
    }

    #thediet {
        width: 20%;
        margin: 0%;
    }

    #logo {
        font-size: 25px;
        padding: 0px;
        margin: 0%;
        width: 100%;
    }

    #empty-menu-block-1 {
        width: 0%;
    }

    #empty-menu-block-2 {
        width: 20%;
    }

    #empty-menu-block-3 {
        width: 15%;
    }

    #empty-building-block,
    #empty-start-block {
        width: 10%
    }

    #building {
        width: 79%;
    }

    #start {
        width: 75%;
        padding-left: 12%;
    }

    .mealplan {
        width: 68%;
    }

    #empty-diet-block {
        width: 18%;

    }

    .empty-form-block {
        width: 20%;
    }

    .signup {
        margin-top: 3.5%;
        width: 60%;
    }

    .empty-form-block-2 {
        width: 20%;
    }

    .radio {
        font-size: 14px;
    }

    .menuitems {
        padding: 7px 5px 15px 0px;
        font-size: 13.5px;
    }

    .chest-triceps,
    .back-biceps,
    .shoulders-core,
    .leg-day {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .back-text,
    .shoulder-text,
    .leg-text,
    .chest-text {
        width: 50%;

    }

    .chest-margin,
    .back-margin,
    .shoulder-margin,
    .leg-margin
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {

    [class*="col-"] {}

    .mealplan {
        width: 35%;
    }

    #empty-diet-block {
        width: 10%;

    }

    .formblock {
        width: 10%;
    }

    .signup {
        margin-top: 3%;
        width: 30%;

    }

    .formblock-2 {
        width: 10%;

    }

    .chest-triceps {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;

    }

    .back-biceps {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .shoulders-core {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .leg-day {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .guide-margin {
        margin-left: 5%;

    }

    .chest-top-margin {
        margin-top: 50px;
    }

    .radio {
        font-size: 13px;
        padding-right: 60px;
    }

    #omnivore {
        margin-left: 16.75px;

    }

    #vegan {
        margin-left: 40px;

    }

    #vegetarian {
        margin-left: 11px;

    }

    .menuitems {
        font-size: 14px;
    }

    .back-text {
        width: 25%;
    }

    .shoulder-text {
        width: 25%;
    }

    .leg-text {
        width: 25%;
    }

    .chest-text {
        width: 25%;
    }

    #empty-diet-block {
        width: 10%;
    }

    #building {
        width: 40%;
        margin-right: 15px;
    }

    #start {
        width: 40%;
        margin-left: 15px;
    }

    #empty-building-block {
        width: 10%;
    }

    #empty-start-block {
        width: 10%;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    [class*="col-"] {}

    .mealplan {
        width: 35%;
    }

    #empty-diet-block {
        width: 10%;

    }

    .formblock {
        width: 10%;
    }

    .signup {
        margin-top: 2.5;
        width: 31%;

    }

    .formblock-2 {
        width: 10%;

    }

    .chest-triceps {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;

    }

    .back-biceps {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .shoulders-core {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .leg-day {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
    }

    .guide-margin {
        margin-left: 5%;

    }

    .chest-top-margin {
        margin-top: 50px;
    }

    .radio {
        font-size: 13px;
    }

    .back-text {
        width: 30%;
    }

    .shoulder-text {
        width: 30%;
    }

    .leg-text {
        width: 30%;
    }

    .chest-text {
        width: 30%;
    }

    .menuitems {
        font-size: 15px;
    }

    #empty-building-block {
        width: 10%;

    }

    #building {
        width: 40%;
        margin-right: 15px;
    }

    #start {
        width: 40%;
        margin-left: 15px;
    }
}

@media only screen and (min-width: 1201px) {

    [class*="col-"] {}

    .mealplan {
        width: 35%;
    }

    #empty-diet-block {
        width: 10%;

    }

    .formblock {
        width: 10%;
    }

    .signup {
        width: 32%;
        margin-top: 2%;

    }

    .formblock-2 {
        width: 10%;

    }

    .chest-triceps {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .back-biceps {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .shoulders-core {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .leg-day {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .guide-margin {
        margin-left: 5%;

    }

    .chest-top-margin {
        margin-top: 50px;
    }

    .back-text {
        width: 15%;
    }

    .shoulder-text {
        width: 15%;
    }

    .leg-text {
        width: 15%;
    }

    .chest-text {
        width: 15%;
    }

    #building {
        margin-right: 15px;
    }

    #start {
        margin-left: 15px;
    }

    .eat-header {
        margin-top: 30px;
    }

    .menuitems {
        font-size: 15px;
    }
}