@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@600&display=swap');

body {
    font-family: Montserrat, sans-serif;
    background-color: #DCDCDC;
    color: black;
}

h1,
h2,
h3 {
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    font-size: 125%;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/*   Logo & Header Stuff      */
nav#menu.row.header {
    background-color: #f16c6b;
}

.menuitems {
    text-align: center;
    margin-top: 8px;
    color: black;
    font-weight: bold;
}

#logo {
    text-align: center;
    color: black;
}

h1 {
    font-size: xx-large;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

/*   Peptalk Section     */
img {
    max-height: 400px;
    max-width: 400px;
}


#before h2 {
    text-align: center;
    font-size: x-large;
}

#img1 {
    width: 100%;
    height: auto;
    padding: 0px;
    border: 2px solid #f16c6b;
}

#img2 {
    width: 100%;
    height: auto;
    padding: 0px;
    border: 2px solid #f16c6b;
}

/* Guide Section */

div#guide.row {
    background-color: #f16c6b;
    margin-top: 15px;
}

#guide-header {
    text-align: center;

}

#guide-flavor-text {
    text-align: center;
    font-weight: bold;

}

div#after-text.row {
    margin-top: 15px;
}

div#space.row {
    margin-bottom: 30px;
}

div#exercise1-2.row {
    margin-bottom: 30px;
}

div#exercise3-4.row {
    margin-bottom: 30px;
}


.signup {

    margin-top: 1%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    left: 10%;
    padding: 10px
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;

}

.number-input {

    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.signup-button {
    margin-top: 15px;
    border-radius: 2px;
    padding: 10px 24px 10px 24px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;

}

footer {
    padding-top: 3%;
    padding-left: 4%;
}






@media only screen and (max-width: 599px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}